	body, html{
		margin: 0;
		padding: 0;
	}
	body{
		font-size: 16px;
		font-family: sans-serif;
		line-height: 1.4rem;
		font-family: 'Raleway', sans-serif;
	}

	a {
		color: #296d9e;
		text-decoration: none;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Oxygen', sans-serif;
	}
/***************************************************
				GENERALES
*****************************************************/

.bg__blue {
	background: #15375a;
	color: white;
}
	.bg__blue a, .bg__ligthblue {
		color: white
	}
.bg__ligthblue {
	background: #296d9e
}
.bg__aqua{
	background: #83bbe4
}
.btn {
	padding: .8rem 1.5rem;
	border-radius: .24rem;
	color: white;
	text-align: center;
	border: none;
	font-size: 1.1rem;
	text-decoration: none
}
	.btn--small{
		padding: .5rem .5rem;
		font-size: .85rem;
		text-transform: uppercase;
		margin-left: 2rem
	}
	.btn--primary{
		background: #80D013;
	}
		.btn--primary:hover{
			background: red
		}
	.btn--secondary {
		background: #FFE71D
	}
	.btn--danger {
		background: #EB5029
	}
	.btn--gray {
		background: #aaa;
		color:white;
	}

/*textos*/
.text-center{
	text-align: center;
}
/*padding*/
.p-1{
	padding: 1.5rem
}
/*@media (min-width: 1200px){
	.p-1{
		padding: 8rem
	}
}*/

.list__none {
	list-style: none;
	padding: 0;
	line-height: 1.8rem
}

/*Wrapper*/

.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, autofill);
	grid-template-areas: 
	"header"
	"feature"
	"cta"
	"container"
	"footer"
	}

.wrapper--inner{}
	@media (min-width: 1380px){
		.wrapper--inner {
/*			margin: 0 auto*/
		padding: 5rem 10%
		}
	}
/*  ++++++++++++ HEADER ++++++++++++++*/
.header{
	grid-area: header;
	padding-top: 0;
	padding-bottom: 0;
}
	.header--grid{
		display: grid;
		grid-template-columns: 1.5rem 2fr 1fr;
		grid-gap: .5rem;
		align-items: center;
		justify-content: center;
	}
.header_logo {
	width: auto;
	height: 50px
}

/* 
	+++++++++++++++ 
	NAV
	+++++++++++++++
*/
	.nav {
		position: absolute;
		display: none;
		left: -200px;
		top: 0;
		height: 100%;
		transition: left 0.3s ease, box-shadow 0.3s ease;
		z-index: 999;
	}
		.menu-togle{
			display: inline-block;
			padding: .75em 15px;
			line-height: 1em;
			font-size: 1em;
		}
		.menu-close{
			position: absolute;
			right: 0;
			top: 0;
		}
		.te__menu{
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0,0,0,0);
			border: 0;
		}
	.nav ul {
			list-style: none;
			margin: 0;
			padding: 2.5em 0 0;
			box-shadow: -8px 0 8px rgba(0,0,0,.5);
			min-height: 100%;
			width: 200px;
			background: #1a1a1a;
	}
	.nav li{
		list-style: none;
	}
	.nav a {
		display: block;
		padding: .75em 15px;
		line-height: 1em;
		font-size: 1em;
		color: #fff;
		text-decoration: none;
		border-bottom: 1px solid #383838;
	}
		.nav li:first-child a {
			background: red;
			color: white;
		}

	.nav .menu-close {
		position: absolute;
		right: 0;
		top: 0;
	}
	.nav:target,
	.nav[aria-expanded="true"] {
	  display: block;
	  left: 0;
	  outline: none;
	  box-shadow: 3px 0 12px rgba(0,0,0,.25);
	}
	.nav:target .menu-close,
	.nav[aria-expanded="true"] .menu-close {
	  z-index: 1001;
	}

	.nav:target ul,
	.nav[aria-expanded="true"] ul {
	  position: relative;
	  z-index: 1000;
	}

	.nav:target + .backdrop,
	.nav[aria-expanded="true"] + .backdrop{
	  position: absolute;
	  display: block;  
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  z-index: 998;
	  background: #000;
	  background: rgba(0,0,0,.85);
	  cursor: default;
	}

	@supports (position: fixed) {
	  .nav,
	  .nav:target + .backdrop,
	  .nav[aria-expanded="true"] + .backdrop{
	    position: fixed;
	  }
	}
/* ++++++++++++ ++++++++++
			Social
+++++++++++++++++++++++++*/
.social{
	text-align: center;
}
	.social a {
		margin-left: .8rem
	}

	/* ++++++++++++++++
			CTA
	+++++++++++++++++*/
.cta {
	grid-area: cta;
	width: 90%;
	margin: 20vh auto;
}
	.cta__text{
		font-size: 1.5rem;
		font-weight: 200;
		color: #a0a0a0
	}
/* ++++++++++++ ++++++++++
			Feature
+++++++++++++++++++++++++*/
.feature {
	grid-area: feature;
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);

}
	.feature--item {
		margin: 0 1rem;
		position: relative;
	}
	.feature--item img{
		border-radius: .45rem;
	}
/* ++++++++++++++
 					Glider   
  						 	+++++++++++++*/

	    .glider-contain {
            width: 90%;
            max-width: 1280px;
            margin: 0 auto;
        }
        .glider-slide {
            min-height: 150px;
        }
        .glider-slide img {
            width: 100%;
        }
        .glider-next, .glider-prev {
			color: white !important;
        }
.container {
		background: #f2f2f2;
		grid-area: container;
	}


/*EVENTOS */
.event__list{

}
	@media (min-width: 1200px){
		.event--list{
			width: 80%;
			margin: 0 auto;
		}
	}
.event__content{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
}

	.evento__title{
		display: inline-block;
	}
		.event__button {
			display: inline-block;
		}
	.event__head{
		grid-column-start: 1;
		grid-column-end: 5
	}
	.event__card{
		border-radius: 0.45rem;
		box-shadow: 0 2px 0 #E8E8E8;
	}
		.event__info{
			padding: .5rem
		}
		.event__title{
			padding: 0;
			margin: 0;
		}
		.event__date{
			font-size: .8rem;
			text-align: right;
			font-style: italic;
			display: block;
			color: #aaa;
		}
		.event__card--inner{
			position: relative;
		}
		.event__card__img{
			width: 100%;
			height: auto;
			border-radius: .45rem .45rem 0 0;
		}
				.btn--card{
					position: absolute;
					bottom: 5%;
					left: 10%;
				}
/* +++++++++++++++++++
     pie de pagina
+++++++++++++++++++++++*/
.footer {
		grid-area: footer;
		background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
	}
	.footer__logo {
		width: 180px;
		height: auto;
	}
	.footer--grid{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, autofill);
		grid-gap: 2rem;
		grid-template-areas: 
		"ticketeg__info ticketeg__info ticketeg__about ticketeg__contact" 
		"ticketeg__payments ticketeg__payments ticketeg__payments ticketeg__payments" 
		"ticketeg__copy ticketeg__copy ticketeg__copy ticketeg__copy"
	}
	.ticketeg__info{
		grid-area: ticketeg__info
	}
	.ticketeg__about{
		grid-area: ticketeg__about
	}
	.ticketeg__contact{
		grid-area: ticketeg__contact
	}
	.ticketeg__social{
		grid-area: ticketeg__social
	}
	.ticketeg__payments{
		grid-area: ticketeg__payments;
		display: inline-block;
		text-align: center;
	}
	.ticketeg__payments i {
		margin: 0 0.5rem;
	}
	.ticketeg__copy{
		grid-area: ticketeg__copy;
		font-size: .75rem;
		text-align: center;
		font-style: italic;
	}